/* src/assets/main.css*/

@import './base.css';
@import './shadows.css';
@import 'componentsBarBackground.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    padding: 0 2rem;
  }
}


/*!*背景优化*!*/
/*body.light-theme {*/
/*  background-color: #f5f5f5; !* ✅ 白卡能看到阴影 *!*/
/*}*/

/*body.dark-theme {*/
/*  background-color: #1a1a1a; !* ✅ 黑卡的白色阴影明显 *!*/
/*}*/
